services:
  bot:
    environment:
      DEBUG: "False"
    restart: always
    stop_signal: SIGTERM
    stop_grace_period: 30s

  database:
    shm_size: 1gb
    restart: always

  redis:
    command:
      - redis-server
      - --requirepass
      - ${REDIS_PASSWORD}
      - --maxmemory
      - 512MB
      - --maxmemory-policy
      - allkeys-lru
      - --save
      - "900 1"
      - --save
      - "300 10"
      - --save
      - "60 10000"
      - --dir
      - /data
      - --appendonly
      - "yes"
    restart: always