services:
  bot:
    build:
      context: .
      dockerfile: bot/Dockerfile
    env_file: .env
    networks:
      - bot-network
    ports:
      - "127.0.0.1:${APP_PORT:-5000}:${APP_PORT:-5000}"
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_started

  database:
    image: postgres:17.4
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD:-postgres}
      POSTGRES_DB: ${PG_DATABASE}
      PGDATA: /var/lib/postgresql/data/pgdata
    networks:
      - bot-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER} -d ${PG_DATABASE}"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.4.2
    networks:
      - bot-network
    volumes:
      - redis_data:/data

networks:
  bot-network:
    driver: bridge

volumes:
  postgres_data:
  redis_data: